<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      Add Movie
    </title>
  </head>
  <body>
    <h1>Let's Add a new Movie to our DataBase</h1>

    <form class="" action="/add_movie" method="post">
      <h3>Title</h3>
      <input type="text" name="title" value="">
      <h2>Year</h2>
      <input type="text" name="year" value="">
      <h2>IMDB</h2>
      <input type="text" name="imdb" value="">
      <p>
        <input type="submit" value="Submit">
      </p>
    </form>
  </body>
</html>
